<h1>Meet the Team!</h1>

<div class="team">
    <app-team-member
      name="Samantha Haldeman"
      image="assets/images/SKHpic.jpg"
      bio="I am a third-year computer science major graduating this spring. I would like to go into either software development or cybersecurity in the future. I love all things marching band and pep band. I also enjoy rock climbing and country dancing."
    ></app-team-member>
    <app-team-member
      name="Brendan Scheidt"
      image="assets/images/BrendanScheidt.jpg"
      bio="I am a Computer Science major with a passion in AI and web development. In my free time I enjoy playing with my puppy Kora and producing music. I have recently accepted an internship with RSM for the summer of 2025 and look forward to growing my teamwork and software development skills as a member of their team!"
    ></app-team-member>
    <app-team-member
    name="Dana Ordonez"
    image="assets/images/DanaOrdonez.jpg"
    bio="I am a third year Computer Science major. I have experience with full stack development and project mangement through roles through DevNet at CSU, JPMorgan Chase & Co. and Microsoft. I am passionate about buliding tech the makes real world impact and I love collaborating with others to bring ideas to life. Outside of college and internship I really enjoy reading, hiking and collecting plants!"
  ></app-team-member>
  <app-team-member
    name="Mika Fish"
    image="assets/images/MikaFish.jpg"
    bio="I'm currently a junior at CSU studying Information Systems, as well as a minor in computer science. I hope to work for Adobe some day as a BDR in New York City. In my free time, I like to spend time with my friends hiking, traveling, and eating good food!"
  ></app-team-member>
</div>
