<div class="team">
    <app-team-member
      name="Samantha Haldeman"
      image="assets/images/SKHpic.jpg"
      bio="I am a third-year computer science major graduating this spring. I would like to go into either software development or cybersecurity in the future. I love all things marching band and pep band. I also enjoy rock climbing and country dancing."
    ></app-team-member>
    <app-team-member
      name="Brendan Scheidt"
      image="assets/images/BrendanScheidt.jpg"
      bio="I am a Computer Science major with a passion in AI and web development. In my free time I enjoy playing with my puppy Kora and producing music. I have recently accepted an internship with RSM for the summer of 2025 and look forward to growing my teamwork and software development skills as a member of their team!"
    ></app-team-member>
</div>
