<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
	<h1> Team 2 </h1>
</header>

<main>
	<form (submit)="handleFormSubmit($event)">
		<label>
			Rows:
			<input type="number" placeholder="1-1000" min="1" max="1000" name="numRows" required />
		</label>
		<label>
			Columns:
			<input type="number" placeholder="1-702" min="1" max="702" name="numCols" required />
		</label>
		<label>
			Colors:
			<input type="number" placeholder="1-10" min="1" max="10" name="numColors" required />
		</label>
		<input type="submit" value="Go!" />
	</form>


	<!-- Color Picker Table Goes Here -->
	<div *ngIf="showTables">
		COLOR SELECTION TABLE
	</div>


	<div *ngIf="showTables">
    <h2>Color Painting Table</h2>
    <table class="color-table">
      <tr>
        <th></th>
        <th *ngFor="let col of colLabels">{{ col }}</th>
      </tr>
      <tr *ngFor="let row of [].constructor(numRows); let i = index">
        <th>{{ i + 1 }}</th>
        <td *ngFor="let col of colLabels" (click)="onCellClick(col, i + 1)"></td>
      </tr>
    </table>

    <button (click)="printPage()">Print</button>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
