<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
	h1 {
		background-color: green;
		width: 100%;
		justify-content: center;
		text-align: center;
		height: 100px;
	}
	.left-float {
		float: left;
	}
	.right-float {
		float: right;
	}
	.color-selector {
		width: 200px;
		height: 200px;
		background-color: green;
		margin: 20px;
		text-align: center;
	}
	.grid {
		width: 700px;
		height: 500px;
		background-color: green;
		margin: 20px;
		text-align: center;
	}
  
</style>

<header>
	<h1> Team 2 </h1>
</header>

<main>
	<form method="post">
		<label>
			Rows:
			<input type="number" placeholder="1-1000" min="1" max="1000" name="numRows" required />
		</label>
		<label>
			Columns:
			<input type="number" placeholder="1-702" min="1" max="702" name="numCols" required />
		</label>
		<label>
			Colors:
			<input type="number" placeholder="1-10" min="1" max="10" name="numColors" required />
		</label>
		<input type="submit" value="Go!" />
	</form>
	<div class="left-float color-selector">holder for color selector</div>
	<div class="right-float grid">holder for grid</div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
