.team-member {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.team-member p {
    width: 100%;
}

img {
    height: 300px;
    justify-content: center;
}