/* You can add global styles to this file, and also import other style files */
:root {
  --dark-purple: #762A83;
  --light-purple: #9970AB;
  --dark-green: #1B7837;
  --light-green: #5AAE61;
  --yellow: #FFEE99;
}

#logo-print {
  display: none;
}

@media print {
  .print-hide-color-selection {
    display: none !important;
  }
  * {
    color: black !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }


  .color-option,
  .selected-color,
  .color-table td {
    background: whitesmoke !important;
  }

  select,
  input[type='radio'],
  input[type='submit'],
  button {
    display: none !important;
  }

  nav {
    background: white !important;
  }

  nav ul, .form-row {
    display: none !important;
  }

  main {
    background: white !important;
  }

  #logo-color {
    display: none !important;
  }

  #logo-print {
    display: inline !important;
  }
}


