:root {
  --dark-purple: #762A83;
  --light-purple: #9970AB;
  --dark-green: #1B7837;
  --light-green: #5AAE61;
  --yellow: #FFEE99;
}

h1 {
  color: #00631e;
  font-size: 6em;
  display: inline-block;
  font-family: bebas-neue, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

main {
  background-color: var(--yellow);
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
}

.color-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.color-table th,
.color-table td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
  cursor: pointer;
}

.color-selection {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
}

.color-selection td {
  border: 1px solid #ccc;
  padding: 6px;
  background-color: white;
}

.select-left {
  width: 20%;
}

.radio {
  float: left;
}

.select-right {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 40px;
}

.cells-list {
  vertical-align: middle;
  margin-left: 5px;
}

.print-view-list-item {
  list-style-type: none;
}

.dropdown {
  width: 80%;
  height: 30px;
  float: right;
  position: relative;
  
}

.selected-color {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-menu {
  position: relative;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 10;
  max-height: 200px;
  overflow: scroll; 
  border: 6px solid #444;
}

.color-option {
  height: 30px;
  cursor: pointer;
}
.color-option:hover {
  opacity: 0.8;
}

.form-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
.form-row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.form-group {
  margin-right: 20px;
}

.go-button {
  background-color: #e9c5f8;
  border: 2px solid #762A83;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  border-radius: 5px;
}
.go-button:hover {
  background-color: #9970AB;
  font-weight: bold;
  border: 2px solid #762A83;
  border-radius: 5px;
}
.go-button-spacer {
  display:flex;
  justify-content: center;
  width: 100%;
}

.error-col {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 5px;
  padding-top: 30px;
  color: red;
}

.error {
  flex: 1;
  margin-right: 20px;
  text-align: center;
}

.color-table th {
  background-color: #ccc;
  color: #000;
  padding: 10px;
  border: 2px solid #000;
}

.color-table td {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #000;
}

