<header>
	<h1> WebDev Inc. </h1>
</header>

<main>
	<form (submit)="handleFormSubmit($event)">
  <div class="form-row">
    <div class="form-group">
      <label for="numRows">Rows:</label>
      <input id="numRows" type="number" placeholder="1-1000" name="numRows" />
    </div>
    <div class="form-group">
      <label for="numCols">Columns:</label>
      <input id="numCols" type="number" placeholder="1-702" name="numCols" />
    </div>
    <div class="form-group">
      <label for="numColors">Colors:</label>
      <input id="numColors" type="number" placeholder="1-{{ totalColors }}" name="numColors" />
      <input type="submit" value="Go!" />
    </div>
  </div>

  <div class="error-col">
    <div class="error" *ngIf="formErrors.numRows">{{ formErrors.numRows }}</div>
    <div class="error" *ngIf="formErrors.numCols">{{ formErrors.numCols }}</div>
    <div class="error" *ngIf="formErrors.numColors">{{ formErrors.numColors }}</div>
  </div>
</form>


	<!-- Color Picker Table Goes Here -->
  <div *ngIf="showTables && !isPrintView" class="color-selection-wrapper">
		<h2>Color Selection Table</h2>
		<table class="color-selection">
			<tr *ngFor="let colorOption of selectedColors; let i = index">
				<td class="select-left">
					<div class="radio">                                
						<input type="radio" name="color" [value]="colorOption" (change)="onRadioChange($event, colorOption)" unchecked >
					</div>

					<div class="dropdown">
            <div
              class="selected-color"
              [style.backgroundColor]="colorOption.hex_value"
              (click)="toggleDropdown(i)"
            ></div>
    
            <div class="dropdown-menu" *ngIf="dropdownOpen[i]">
              <div
                *ngFor="let color of colorsNotUsed"
                class="color-option"
                [style.background]="color.hex_value"
                (click)="selectColor(i, color)"
              ></div>
            </div>
          </div>

				</td>
				<td class="select-right">
          <div
            *ngFor="let cell of cellsList[i]"
          >
          <p class="cells-list">{{cell}}</p>
          </div>
				</td>
			</tr>
		</table>
	</div>

	<div *ngIf="showTables">
    
    <div *ngIf="isPrintView">
      <h2>Color Guide</h2>
      <ul>
        <li *ngFor="let entry of getColorUsageSummary()" class="print-view-list-item">
          {{ entry }}
        </li>
      </ul>
    </div>

    <h2>Color Painting Table</h2>
    <table class="color-table">
      <tr>
        <th></th>
        <th *ngFor="let col of colLabels">{{ col }}</th>
      </tr>
      <tr *ngFor="let row of [].constructor(numRows); let i = index">
        <th>{{ i + 1 }}</th>
        <td *ngFor="let col of colLabels; let j = index" 
        (click)="onCellClick(i, j)" 
        [style.background]="cellColors[i][j] || '#ffffff'"
      ></td>
      </tr>
    </table>

    <button (click)="printPage()">Print</button>
  </div>
</main>
